[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metan"]
	path = metan
	url = https://github.com/tiagoolivoto/metan
[submodule "plimanshiny"]
	path = plimanshiny
	url = https://github.com/TiagoOlivoto/plimanshiny
	registered = false
